<style>
    html{background-color: rgb(145, 210, 151);}
    h1{background-color: burlywood;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body {
        background-color: blanchedalmond;
    }
</style>